main { 
    padding: 10px;
    justify-content: center;
    width: 60%
}

.calculation {
    border: 1px solid black;
    padding: 20px;
    background-color: aquamarine;
    justify-content: center;
}