main { 
    padding: 10px;
    justify-content: center;
    width: 60%
}

.calculation {
    border: 1px solid black;
    padding: 20px;
    background-color: aquamarine;
    justify-content: center;
}

div button:hover {
    background: blue;
    color: white;
}

input {
    border-radius: 10px;
}

button {
    border-radius: 50px;
}